<navbar email="<%= current_user.email %>"></navbar>

<div class="container">
	<vote_form
		post_route="<%= conteo_index_path %>"
		voting_center="<%= current_user.voting_center.id %>">
	</vote_form>
</div>
