<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div data-controller="navbar">
            <button
                type="button"
                id="sidebarCollapse"
                class="navbar-btn"
                data-action="click->navbar#toggle">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <% if user_signed_in? %>
            <%= link_to "Salir", destroy_user_session_path,
                method: :delete,
                class: "text-uppercase font-weight-normal text-decoration-none" %>
        <% else %>
            <%= link_to "Ingresar", new_user_session_path,
                class: "text-uppercase font-weight-normal text-decoration-none" %>
        <% end %>
    </div>
</nav>
