<!-- <div data-controller="hello">
  <h1 data-target="hello.output"></h1>
</div> -->

<div id="home">
	<h1 class="text-center">Conteo de Votos</h1>
	<hr>
	<div id="vote_count">
		<%= render "zones", zones: @zones %>
	</div>
</div>
